{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "double"],
    "max-len": [0]
  },
  "globals": {
    "$": true,
    "jQuery": true,
    "R": true
  }
}
